<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
<style>
body {
    font-family: "Lato", sans-serif;
}

/* Style the header with a grey background and some padding */
.header {

	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;

}

/* Style the header links */
.header a {

  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


.sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
 }


.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="file"] {
    display: none;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}


button:hover {
    opacity: 0.8;
}


/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 14px 20px;
    background-color: #f44336;
}

.custom-file-upload {
    border: 1px solid #78D8EF;
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    background-color: #F0FCFF ;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.zoom {
    /*padding: 50px;*/
    /*transition: transform .2s; !* Animation *!*/
    width: 2.5%;
    /*height: 200px;*/
    /*margin: 0 auto;*/
}

.zoom:hover {
    transform: scale(6); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

</style>
</head>

<body>
<div class="header">
  <a href="#default" class="logo">
  	<li>

  	<img src="views/images/TradesterLogo.png" style= "width:125px; height:125px; border:0" id="html_css_js">
  	<img src="views/images/Notification.png" style= "top:0px; right:100px; width:50px; height:50px; border:0" id="html_css_js">
    <a href="#contact">Contact</a>
  	
  </li>
</a>
  
</div>


<div class="sidenav">
 <input type="text" placeholder="Search Items..">
  <a href="#clients">Add Items</a>
  <a href="#contact">View All</a>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:100%;">Add Item</button>

    <div id="id01" class="modal">

        <form class="modal-content animate" enctype="multipart/form-data" method="post" action="/action_page.php">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="item_name"><b>Item's name</b></label>
                <input type="text" placeholder="Enter items name" name="item_name" >

                <label for="description" ><b>Item's Description</b></label><br>
                <textarea class="input" style="font-family:sans-serif; width: 100%;padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;resize: none" placeholder="Enter Description" rows="10%" cols="160%" id="suggested" name="description"></textarea><br>

                <button type="submit">Add Item</button>
                <button type="button" style="float:right;" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>

                <label class="custom-file-upload">
                     <input type="file"  accept=".png, .jpg, .jpeg" name="img" onchange="loadFile(event)">
                      Choose a file
                </label>
                <img class="zoom" id="output" style="width: 2.5%;position: relative"/>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>

<a class="footer">
        <p>Tradester 2018</p>
        </a>
</body>
</html>