<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1300px">

<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
          <img src="views/images/TradesterLogo.png" style= "width:350px; height:350px; border:0">
    <div class="w3-padding-64">
      <a href="/" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Home</a>
      <a href="/auth/google" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Google Login</a>
      <a href="/auth/facebook" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Facebook Login</a>
    </div></div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>About Tradester</h1>
      <img src="views/images/Market.jpg" class="w3-margin w3-circle" alt="Person" style="width:40%">
      <p>Tradester is the marketplace of Ebay with the friendliness of Facebook.  We want to make a place for people to barter their belongings to people they can trust.  It's both safe and convenient.</p>
      <div class="w3-left-align w3-padding-large">
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
 <p>Tradester 2018</p>
</footer>
</body>
</html>
