<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>

<nav>
    <ul>
        <li>
            <a href="/">
                <img src="TradesterLogo.png" width="200" height="200" align="left" id="html_css_js">
            </a></li>
    </ul>
</nav>
<header>
    <h1>Login using...</h1>
</header>
<main>
    <a class href="/auth/google">
        <img src="GoogleLogin.png" width="300" height="55" id="html_css_js">
    </a>
</main>
<main>
    <a class href="/auth/facebook">
        <img src="FacebookLogin.png" width="300" height="50" id="html_css_js">
    </a>
</main>
</body>
<a class="footer">
    <p>Tradester 2018</p>
</a>
</html>