<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <style>
            body{
               /*background: #ff5353;*/
               /* background: url("darkness.png");*/
                background-image: url("views/images/Background.jpg");
                 background-color: #cccccc;
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #000000;
               /* background: url(darkness.png);*/
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #000000;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #000000;
            }
            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
            }
              .facebook-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #003366;
            }
              .footer{ 
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: blue;
                color: white;
                text-align: center;
             }  
              .header{
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                background-color: blue;
                color: white;
                text-align: center;
             }
               .logo{
                text-decoration: none;

               }



        </style>
    </head>
    <body>

        <nav>
           <li>
            <div class="logo" href="/">       
                <img src="views/images/TradesterLogo.png" width="150" height="150" align="left" align="top" id="html_css_js">
         </div></li>    
        </nav>
        
        <main>
            <a class href="/auth/google">
        <img src="views/images/GoogleLogin.png" width="300" height="55" id="html_css_js">
            </a>
        </main>
        <main>
            <a class href="/auth/facebook">
         <img src="views/images/FacebookLogin.png" width="300" height="50" id="html_css_js">
            </a>
        </main>
    </body>
      <a class="footer">
        <p>Tradester 2018</p>
        </a>
</html>
