<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>

        <nav>
           <li>
            <div class="logo" href="/">       
                <img src="views/images/TradesterLogo.png" width="150" height="150" align="left" align="top" id="html_css_js">
         </div></li>    
        </nav>
        
        <main>
            <a class href="/auth/google">
        <img src="views/images/GoogleLogin.png" width="300" height="55" id="html_css_js">
            </a>
        </main>
        <main>
            <a class href="/auth/facebook">
         <img src="views/images/FacebookLogin.png" width="300" height="50" id="html_css_js">
            </a>
        </main>
    </body>
      <a class="footer">
        <p>Tradester 2018</p>
        </a>
</html>
